<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ứng Dụng Phân Tích và Dự Đoán</title>
    <link rel="stylesheet" href="style.css">
    <script src="scripts.js" defer></script> 
</head>


<body>
<header>
    <div class="logo">
        <img id="img_header" src="img/logo_header.png" alt="">
    </div>

    <div class="title_header"><a class="title_header" href="/">Phân tích tình trạng tai nạn giao thông tại TP.HCM</a></div>
</header>


    <div class="body_container">
    <div class="container">
        <h1><a href="/" style="text-decoration: none; color: inherit;">Thông tin</a></h1>
        
        <div class="select_box">
            <select id="select_box_1" class="button_select">
                <option value="">Tổng</option>
                <option value="nguyen_nhan">Nguyên Nhân</option>
                <option value="tuoi">Tuổi</option>
                <option value="gio">Giờ</option>
                <option value="hau_qua">Hậu quả</option>
                <option value="de_xuat">Đề xuất</option>
            </select>

            <select id="select_box_2" class="button_select">
                <option value="default">Tổng</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
            </select>
        </div>
    
        <div id="display_text">
            <div id="col_display"></div>
            <div id="img-box">
                <button id="prevBtn" class="circle-button prev-button" onclick="prevImage()">←</button>
                <img id="imgElement" src="" alt="Image display">
                <button id="nextBtn" class="circle-button next-button" onclick="nextImage()">→</button>
            </div>
        </div>
    </div>
    <div>
        <h1><a href="/" style="text-decoration: none; color: inherit;">Ứng dụng</a></h1>
    
        <div class="button-container">
            <button type="button" onclick="showForm('predict_TH_form')">Dự Đoán Thiệt Hại</button>
            <button type="button" onclick="showForm('predict_NN_form')">Dự Đoán Nguyên Nhân</button>
            <button type="button" onclick="showForm('predict_Tuoi_form')">Dự Đoán Tuổi</button>
            <button type="button" onclick="showForm('predict_Gio_form')">Dự Đoán Giờ</button>
            <form action="/analyze" method="post">
                <button name="analyze_data" type="submit">Phân Tích Dữ Liệu</button>
            </form>
    
            <form action="/cluster" method="post">
                <button name="cluster_data" type="submit">Gom Cụm Dữ Liệu</button>
            </form>
        </div>
    
        <!-- Form dự đoán thiệt hại -->
        <form id="predict_TH_form" class="predict-form hidden" action="/predict_TH" method="post">
            <h2>Dự Đoán Thiệt Hại</h2>
            <label for="Gio">Giờ:</label>
            <input type="text" id="Gio" name="Gio" required>
            <label for="Duong">Đường:</label>
            <input type="text" id="Duong" name="Duong" required>
            <label for="Quan">Quận:</label>
            <input type="text" id="Quan" name="Quan" required>
            <label for="Tuoi">Tuổi:</label>
            <input type="number" id="Tuoi" name="Tuoi" required>
            <label for="NguyenNhan">Nguyên Nhân:</label>
            <input type="text" id="NguyenNhan" name="NguyenNhan" required>
            <button type="submit">Dự Đoán</button>
        </form>
    
        <!-- Form dự đoán nguyên nhân -->
        <form id="predict_NN_form" class="predict-form hidden" action="/predict_NN" method="post">
            <h2>Dự Đoán Nguyên Nhân</h2>
            <label for="Gio">Giờ:</label>
            <input type="text" id="Gio" name="Gio" required>
            <label for="Duong">Đường:</label>
            <input type="text" id="Duong" name="Duong" required>
            <label for="Quan">Quận:</label>
            <input type="text" id="Quan" name="Quan" required>
            <label for="Tuoi">Tuổi:</label>
            <input type="number" id="Tuoi" name="Tuoi" required>
            <label for="ThietHai">Thiệt hại:</label>
            <input type="text" id="ThietHai" name="ThietHai" required>
            <button type="submit">Dự Đoán</button>
        </form>
        
        <!-- Form dự đoán tuổi -->
        <form id="predict_Tuoi_form" class="predict-form hidden" action="/predict_Tuoi" method="post">
            <h2>Dự Đoán Tuổi</h2>
            <label for="Gio">Giờ:</label>
            <input type="text" id="Gio" name="Gio" required>
            <label for="Duong">Đường:</label>
            <input type="text" id="Duong" name="Duong" required>
            <label for="Quan">Quận:</label>
            <input type="text" id="Quan" name="Quan" required>
            <label for="ThietHai">Thiệt Hại:</label>
            <input type="text" id="ThietHai" name="ThietHai" required>
            <label for="NguyenNhan">Nguyên Nhân:</label>
            <input type="text" id="NguyenNhan" name="NguyenNhan" required>
            <button type="submit">Dự đoán</button>
        </form>

        <!-- Form dự đoán Giờ -->
        <form id="predict_Gio_form" class="predict-form hidden" action="/predict_Gio" method="post">
            <h2>Dự Đoán Giờ</h2>
            <label for="Duong">Đường:</label>
            <input type="text" id="Duong" name="Duong" required>
            <label for="Quan">Quận:</label>
            <input type="text" id="Quan" name="Quan" required>
            <label for="Tuoi">Tuổi:</label>
            <input type="number" id="Tuoi" name="Tuoi" required>
            <label for="ThietHai">Thiệt hại:</label>
            <input type="text" id="ThietHai" name="ThietHai" required>
            <label for="NguyenNhan">Nguyên Nhân:</label>
            <input type="text" id="NguyenNhan" name="NguyenNhan" required>
            <button type="submit">Dự Đoán</button>
        </form>

        <div id="cluster_prediction_result"></div>
    </div>
    
    {% if result %}
    <h2>Kết Quả Phân Tích Tần Suất</h2>
    <table>
        <thead>
            <tr>
                <th>Nguyên Nhân</th>
                <th>Đường</th>
                <th>Tần suất</th>
                <th>Tổng số lần xuất hiện</th>
                <th>Tần suất (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in result %}
            <tr>
                <td>{{ item['Nguyên nhân'] }}</td>
                <td>{{ item['Đường'] }}</td>
                <td>{{ item['Tần suất'] }}</td>
                <td>{{ item['Tổng số lần xuất hiện'] }}</td>
                <td>{{ item['Tần suất (%)'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if cluster_info %}
    <h2>Kết Quả Gom Cụm</h2>
    <ul>
        {% for cluster, info in cluster_info.items() %}
        <li>{{ cluster }}: Số lượng: {{ info['count'] }}</li>
        {% endfor %}
    </ul>
    <h3>Biểu Đồ Phân Tán Các Cụm</h3>
    <div id="img_chart"><img src="data:image/png;base64,{{ plot_img }}" alt="Biểu Đồ Phân Tán"> </div>
    {% endif %}

    {% if prediction_TH %}
    <h2>Kết Quả Dự Đoán Thiệt Hại: {{ prediction_TH }}</h2>
    {% endif %}

    {% if prediction_NN %}
    <h2>Kết Quả Dự Đoán Nguyên Nhân: {{ prediction_NN }}</h2>
    {% endif %}

    {% if prediction_Tuoi %}
    <h2>Kết quả dự đoán: {{ prediction_Tuoi }} Tuổi</h2>
    {% endif %}

    {% if prediction_Gio %}
    <h2>Kết Quả Dự Đoán Giờ: Buổi {{ prediction_Gio }}</h2>
    {% endif %}

    {% if prediction_cluster %}
    <h2>Kết Quả Dự Đoán Cụm</h2>
    <p>{{ prediction_cluster }}</p>
    {% endif %}

    {% if error %}
    <h2>Lỗi</h2>
    <p>{{ error }}</p>
    {% endif %}
    </div>

<footer>

<div class="banquyen">
    © Bản quyền thuộc Lê Chí Tài
</div>
<div class="info">
    <div>+ Trường: Đại học Mở Thành phố Hồ Chí Minh</div>
    <div>+ Địa chỉ: Nhà Bè</div>
    <div>+ SĐT: 09123456789</div>
    <div>+ Email: 2151050382tai@ou.edu.vn</div>
</div>

    <div class="contact_us">
        <div>Contact Us:</div>
        <div><a href="#">Facebook</a></div>
        <div><a href="#">Zalo</a></div>
        <div><a href="#">Github</a></div>
    </div>


</footer>
</body>

</html>
