a {
    text-decoration: none;
}

header {
    background-color: #006ba1;
    display: flex;
}

.logo{
    width: 30%;
    display: flex;
}

.title_header{
    font-size: 45px;
    margin: auto;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer {
    background-color: #006ba1;
    height: 150px;
    display: flex;
}

footer div{
    margin: auto;
    font-weight: bold;
    color: white;
}

.banquyen {
    width: 30%;
    font-size: 20px;
    margin-left: auto;
    text-align: center;
}

.info {
    width: 40%;
    text-align: left;
    padding-left: 10%;
    line-height: 25px;
}

.contact_us {
    width: 30%;
    text-align: center;
    text-decoration: none;
}

.contact_us div:first-child {
    font-size: 35px;
    margin-bottom: 5%;
}

.contact_us div a{
    color: white;
    line-height: 25px;
}

body {
    font-family: Arial, sans-serif;
    font-family: Arial, sans-serif;
}

.body_container {
    height: auto;
    background-color: whitesmoke;
    min-height: 1800px;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    height: auto;
    min-height: 1000px;
}

.chart-container {
    display: inline-block;
    text-align: center;
}

.placeholder {
    height: 1000px;
    background-color: #e0e0e0; /* Màu nền cho khung */
    margin-bottom: 20px; /* Khoảng cách dưới khung */
}


.button_select{
    width: 200px;
    height: 30px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}
table {
    margin: 0 auto; /* Căn giữa bảng */
    border-collapse: collapse;
    width: 80%;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #555;
}

button {
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

/* Căn giữa các tiêu đề trong display_title */
.display_title {
    z-index: 10; 
    font-size: 50px;
    text-align: center;
    position: relative; 
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Đặt chiều cao cố định nếu cần */
    font-weight: bold;
}

/* CSS cho phần tử col1, col2, col3 */
#col_display{
    font-size: 20px;
    font-weight: 200;
    line-height: 2;
}

#img{
    max-width:100%; 
    height:auto;
}



#img_chart {
    width: 60%;
    margin: auto;
}

/* Căn chỉnh các khối văn bản trong display_text */
#display_text {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: auto;
}

/* Cấu hình các khối trong display_text */
#display_text div {
    flex: 1; 
    text-align: justify;
    padding: 3%;
    padding-top: 0%;
    position: relative; 
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Căn giữa các cột với đường viền */
#display_text div:nth-child(2) {
    flex: 0 0 40%;
    padding-top: 1%;
}

/* Căn chỉnh các nút theo hàng ngang */
.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; /* Khoảng cách với form bên dưới */
}

/* Căn chỉnh form để chúng nằm bên dưới */
.predict-form {
    margin-top: 20px;
}

/* Style cho các nút */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.cluster_prediction_result{
    height: 300px;
}

.features{
    height: 600px;
}


#imgElement {
    width: 100%;
    height: auto;
    object-fit: cover; /* Đảm bảo ảnh vừa với container */
    border: 1px solid #ccc; /* Thêm đường viền cho hình ảnh */
    border-radius: 5px; /* Làm bo góc cho hình ảnh */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Thêm bóng cho hình ảnh */
    margin-top: auto;
    margin-bottom: auto;
}

.circle-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    display: flex; /* Đảm bảo căn giữa nội dung */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    font-size: 20px;
    line-height: 1;
}

.prev-button {
    left: -20px; /* Canh trái bức ảnh */
}

.next-button {
    right: -20px; /* Canh phải bức ảnh */
}

.circle-button:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Đổi màu khi hover */
}